

.navbar {
    background-color: black;
    font-family: "Open Sans", sans-serif;
}


/* Tamaño imagen -avion- Navbar */
.img-navbar {
    width: 30px;
}

/* Estilos Body */

Body {
    background-color: black;
    font-family: "Open Sans", sans-serif;
}

/* Fin estilos body */

/* Inicio CSS Seccion Quienes somos -CARD- */

.card-s1 {
    background-color: black;
}

.card-img {
    background-color: rgb(54, 163, 196)
}

/* Fin CSS Seccion Quienes somos -CARD- */

/* Inicio CSS Seccion 2 Destacados -CARD */
.card-body-s2 {
    background-color:rgb(54, 163, 196);
}

/* Fin CSS Seccion 2 Destacados -CARD */

/* Inicio CSS seccion 3 formulario contacto */


/* Inicio CSS seccion 3 formulario contacto */

/* Inicio CSS Footer */
footer {
    background-color:rgb(54, 163, 196); 
}

/* Inicio CSS Footer */